@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
}

.mirror {
  transform: scaleX(-1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
